button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	&:focus {
		outline: none;
	}
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 18px 30px;
	font-size: 18px;
	font-family: $font;
	line-height: (20/18);
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	border: none;
	color: #fff;
	cursor: pointer;
	vertical-align: top;
	user-select: none;
	transition: all 0.3s ease;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	background: #000;
	@include res(m) {
		padding: 14px 24px;
		font-size: 16px;
		line-height: (20/16);
	}
	&:hover {
		background: $yellow;
		color: #000;
	}
	&:focus {
		outline: none;
	}
	&.success {
		background: $yellow;
		color: #000;
	}
	&.disabled {
		pointer-events: none;
		color: $gray-deep;
		background: $gray;
	}
	&--white {
		color: #000;
		border: 1px solid #000;
		background: #fff;
		&:hover {
			border-color: $yellow;
		}
		&.disabled {
			pointer-events: none;
			color: $gray-deep;
			border-color: $gray;
		}
	}
}
