[tabindex],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

label {
  position: relative;
  display: block;
  cursor: pointer;
}

input {
  font-family: $font;
  appearance: none;
  overflow: visible;
  &::placeholder {
    font-family: $font;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:focus {
    outline: none;
    &::placeholder {
      opacity: 0.5;
    }
  }
}

textarea {
  resize: vertical;
}

.input-label {
  position: relative;
  margin-bottom: 24px;
  &.active {
    .input-text {
      border-color: #000;
      background: $gray-light;
    }
    .input-placeholder {
      top: 6px;
      font-size: 10px;
      line-height: (12/10);
    }
  }
  &.error {
    .input-text {
      color: $red;
      border-color: $red;
    }
    .input-error-info {
      opacity: 1;
    }
    .input-descr-info {
      opacity: 0;
    }
    .select2-selection--single {
      .select2-selection__rendered {
        border-color: $red;
      }
    }
  }
  .select2-container--open {
    .select2-selection--single {
      .select2-selection__rendered {
        span {
          color: #000;
        }
      }
    }
  }
  .select2-selection--single {
    .select2-selection__rendered {
      span {
        color: $gray-deep;
      }
    }
  }
  & + .style-checkbox {
    padding-top: 16px;
  }
}

.input-text,
.input-textarea {
  display: inline-block;
  width: 100%;
  font-family: $font;
  font-size: 16px;
  line-height: (20/16);
  -webkit-appearance: none;
  border: 1px solid #000;
  padding: 18px 16px 16px;
  border-radius: 0;
  letter-spacing: 0.1em;
  background: #fff;
  overflow: visible;
  transition: all 0.3s ease;
  @include res(m) {
    padding: 20px 16px 14px;
  }

  &::placeholder {
    color: #999999;
    opacity: 1;
    transition: all 0.3s ease;
  }

  &:focus {
    border-color: #000;
    background: $gray-light;
    outline: none;
  }
  &:hover {
    border-color: #000;
    background: $gray-light;
  }
  &:active {
    border-color: #000;
    background: $gray-light;
  }

  &.error {
    color: $red;
    border-color: $red;
  }
  &[disabled] {
    pointer-events: none;
    border-color: $gray-deep;
    background: $gray-light;
  }
}

.input-textarea {
  min-height: 150px;
}

.input-placeholder {
  position: absolute;
  top: 21px;
  left: 16px;
  display: block;
  font-size: 12px;
  line-height: (16/12);
  letter-spacing: 0.1em;
  color: $gray-deep;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

.input-error-info {
  position: absolute;
  left: 16px;
  bottom: -21px;
  color: $red;
  font-size: 14px;
  line-height: (18/14);
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  @include res(m) {
  }
}

.input-descr-info {
  color: $gray-deep;
  font-size: 14px;
  line-height: (18/14);
  transition: all 0.3s ease;
  pointer-events: none;
  & + .input-error-info {
    bottom: 0px;
  }
}

.input-pers-info {
  text-align: center;
  font-size: 14px;
  line-height: (18/14);
  a {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    &:hover {
      border-color: rgba(0, 0, 0, 0);
    }
  }
}

.select2-js {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

.select2-container {
  outline: none;
  * {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }
  &--avgvst-default {
    .select2-dropdown {
      border: none;
      border-radius: 0;
      background: rgba(0, 0, 0, 0);
      z-index: 99999;
      &.select2-dropdown--below {
        margin-top: -1px;
        .select2-results__options {
          border-top: none;
        }
      }
      &.select2-dropdown--above {
        position: relative;
        bottom: -1px;
        .select2-results__options {
          border-bottom: none;
        }
      }
    }
    .select2-results__options {
      overflow: auto;
      max-height: 341px;
      border: 1px solid #000;
      .select2-results__option {
        transition: all 0.3s ease;
        &:hover {
          background: $gray-light;
        }
        &[aria-selected="true"] {
          background: $yellow;
        }
      }
    }
    .select2-selection--single {
      height: auto;
      .select2-selection__rendered {
        display: flex;
        align-items: center;
        padding: 20px 8px;
        border: 1px solid #000;
        background: #fff;
        transition: all 0.3s ease;
        @include res(m) {
          padding: 20px 8px;
        }
        &:hover {
          background: $gray-light;
        }
        img {
          display: block;
          flex-shrink: 0;
        }
        span {
          font-size: 12px;
          line-height: (16/12);
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
      .select2-selection__arrow {
        position: absolute;
        top: calc(50% - 4px);
        right: 20px;
        width: 10px;
        height: 10px;
        border: 1px solid rgba(0, 0, 0, 0);
        border-right: 1px solid rgba(0, 0, 0, 1);
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        transform: translate3d(0, -50%, 0) rotate(45deg);
        transition: all 0.3s ease;
      }
    }
    .select2-results__option,
    .select2-selection__rendered {
      display: flex;
      align-items: center;
      padding: 20px 8px;
      border-bottom: 1px solid $gray-light;
      background: #fff;
      &:last-child {
        border-bottom: none;
      }
      span {
        font-size: 12px;
        line-height: (16/12);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &.title {
          color: #000;
        }
        &.descr {
          padding-left: 4px;
          color: $gray-deep;
        }
      }
    }
    &.select2-container--open {
      &.select2-container--below {
        pointer-events: none;
      }
      .select2-selection--single {
        .select2-selection__rendered {
          background: $yellow;
        }
        .select2-selection__arrow {
          top: calc(50% + 2px);
          border: 1px solid rgba(0, 0, 0, 1);
          border-right-color: rgba(0, 0, 0, 0);
          border-bottom-color: rgba(0, 0, 0, 0);
        }
      }
    }
    &.selected {
      .select2-selection--single {
        .select2-selection__rendered {
          background: $gray-light;
        }
      }
    }
  }
  &--avgvst-currency {
    //left: 16px;
    .select2-dropdown {
      border: none;
      background: rgba(0, 0, 0, 0);
    }
    .select2-results__options {
      width: calc(100% - 16px);
      margin: 0 8px;
      border: 1px solid #000;
      .select2-results__option {
        transition: all 0.3s ease;
        &:hover {
          background: $gray-light;
        }
        &[aria-selected="true"] {
          background: $yellow;
        }
      }
    }
    .select2-selection--single {
      height: auto;
      .select2-selection__rendered {
        display: flex;
        align-items: center;
        padding: 20px 8px;
        border-bottom: none;
        background: #fff;
        @include res(m) {
          padding: 8px 8px;
        }
        img {
          display: block;
          flex-shrink: 0;
        }
        span {
          font-size: 12px;
          line-height: (16/12);
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
    }
    .select2-results__option,
    .select2-selection__rendered {
      display: flex;
      align-items: center;
      padding: 20px 8px;
      border-bottom: 1px solid $gray-light;
      background: #fff;
      &:last-child {
        border-bottom: none;
      }

      img {
        display: block;
        flex-shrink: 0;
        margin-right: 8px;
      }
      span {
        font-size: 12px;
        line-height: (16/12);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &.title {
          color: #000;
        }
        &.descr {
          padding-left: 4px;
          color: $gray-deep;
        }
      }
    }
    &.select2-container--open {
    }
  }
  &--avgvst-item-card {
    .select2-dropdown {
      top: -56px;
      margin: -1px 0;
      border: none;
      border-radius: 0;
      background: rgba(0, 0, 0, 0);
      z-index: 99999;
    }
    .select2-results__options {
      overflow: auto;
      max-height: 341px;
      border: 1px solid #000;
      .select2-results__option {
        transition: all 0.3s ease;
        &:hover {
          background: $gray-light;
        }
        &[aria-selected="true"] {
          background: $yellow;
        }
      }
    }
    .select2-selection--single {
      height: auto;
      .select2-selection__rendered {
        display: flex;
        align-items: center;
        padding: 20px 8px;
        border: 1px solid #000;
        background: #fff;
        transition: all 0.3s ease;
        @include res(m) {
          padding: 20px 8px;
        }
        &:hover {
          background: $gray-light;
        }
        img {
          display: block;
          flex-shrink: 0;
        }
        span {
          font-size: 12px;
          line-height: (16/12);
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
    }
    .select2-results__option,
    .select2-selection__rendered {
      display: flex;
      align-items: center;
      padding: 20px 8px;
      border-bottom: 1px solid $gray-light;
      background: #fff;
      &:last-child {
        border-bottom: none;
      }
      span {
        font-size: 12px;
        line-height: (16/12);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &.title {
          color: #000;
        }
        &.descr {
          padding-left: 4px;
          color: $gray-deep;
        }
      }
    }
    &.select2-container--open {
      &.select2-container--below {
        pointer-events: none;
      }
      .select2-selection--single {
        .select2-selection__rendered {
          background: $yellow;
        }
      }
    }
    &.selected {
      .select2-selection--single {
        .select2-selection__rendered {
          background: $gray-light;
        }
      }
    }
  }
  &--avgvst-filter {
    .select2-dropdown {
      width: 318px !important;
      border: none;
      border-radius: 0;
      background: rgba(0, 0, 0, 0);
      z-index: 99999;
    }
    .select2-results__options {
      overflow: auto;
      max-height: 341px;
      border: 1px solid #000;
      .select2-results__option {
        transition: all 0.3s ease;
        &:hover {
          background: $gray-light;
        }
        &[aria-selected="true"] {
          background: $yellow;
        }
      }
    }
    .select2-selection--single {
      height: auto;
      .select2-selection__rendered {
        display: flex;
        align-items: center;
        padding: 18px 8px 10px;
        padding-right: 26px;
        border: none;
        background: #fff;
        transition: all 0.3s ease;
        @include res(m) {
          padding: 18px 8px 10px;
          padding-right: 26px;
        }
        &:hover {
          & + .select2-selection__arrow {
            background: #000;
            &:before {
              border-right-color: #fff;
              border-bottom-color: #fff;
              @include res(m) {
                border-right-color: #000;
                border-bottom-color: #000;
              }
            }
          }
        }
        img {
          display: block;
          flex-shrink: 0;
        }
        span {
          font-size: 12px;
          line-height: (16/12);
          color: #000;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
      .select2-selection__arrow {
        position: absolute;
        top: calc(50% + 2px);
        right: 0;
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        border-radius: 50%;
        transform: translate3d(0, -50%, 0);
        transition: all 0.3s ease;
        pointer-events: none;
        &:before {
          content: "";
          position: absolute;
          top: calc(50% - 1px);
          left: 50%;
          width: 7px;
          height: 7px;
          border: 1px solid rgba(0, 0, 0, 0);
          border-right: 1px solid rgba(0, 0, 0, 1);
          border-bottom: 1px solid rgba(0, 0, 0, 1);
          transition: all 0.15s ease;
          transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }
      }
    }
    .select2-results__option,
    .select2-selection__rendered {
      display: flex;
      align-items: center;
      padding: 20px 8px;
      border-bottom: 1px solid $gray-light;
      background: #fff;
      &:last-child {
        border-bottom: none;
      }
      span {
        font-size: 12px;
        line-height: (16/12);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &.title {
          color: #000;
        }
        &.descr {
          padding-left: 4px;
          color: $gray-deep;
        }
      }
    }
    &.select2-container--open {
      &.select2-container--below {
        pointer-events: none;
      }
      .select2-selection--single {
        .select2-selection__rendered {
          //background: $yellow;
        }
        .select2-selection__arrow {
          background: #000;
          &:before {
            top: calc(50% + 2px);
            border: 1px solid #fff;
            border-right-color: rgba(0, 0, 0, 0);
            border-bottom-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
    &.selected {
      .select2-selection--single {
        .select2-selection__rendered {
          background: $gray-light;
        }
      }
    }
  }
}

//style-checkbox
.style-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 12px;
  user-select: none;
  &:hover {
    span {
      &:after {
        //border-right: 1px solid $gray-deep;
        //border-bottom: 1px solid $gray-deep;
        opacity: 0.65;
      }
    }
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    &:checked + span {
      &:before {
        border-color: $yellow;
        background: $yellow;
      }
      &:after {
        opacity: 1;
      }
    }

    &.error + span {
      &:before {
        border-color: #cc0000;
      }
    }
  }

  span {
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 16px;
    padding-left: 24px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      border: 1px solid #000;
      transition: all 0.3s ease;
    }
    &:after {
      content: "";
      position: absolute;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      opacity: 0;
      transform: translate3d(0, 0, 0) rotate(45deg);
      transition: opacity 0.3s ease;
      z-index: 2;
    }

    a {
      color: #353434;
    }
  }

  p {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: (16/12);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &--cell {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -1px;
    margin-right: -1px;
    padding: 14px 5px;
    border: 1px solid $gray;
    &:hover {
      span {
        &:before {
          background: $gray-light;
        }
      }
    }
    span {
      position: static;
      padding: 0;
      text-align: center;
      z-index: 1;
      &:before {
        width: 100%;
        height: 100%;
        border: none;
        background: #fff;
        z-index: -1;
      }
      &:after {
        content: none;
      }
    }
    input {
      &:checked + span {
        &:before {
          background: $yellow;
        }
      }
    }
  }
}
//style-checkbox

.subscr-mini {
  display: flex;
  align-items: flex-start;
  .input-label {
    width: 100%;
  }
  .input-error-info {
    @include res(m) {
      left: 0;
      font-size: 12px;
    }
  }
  .btn {
    margin-left: 8px;
  }
}
