label {
  position: relative;
  display: block;
  cursor: pointer;
}

input {
  font-family: $font;
  appearance: none;
  overflow: visible;
  &::placeholder {
    font-family: $font;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  &:focus {
    outline: none;
    &::placeholder {
      opacity: 0.5;
    }
  }
}

textarea {
  resize: vertical;
}

.input-text,
.input-textarea {
  display: inline-block;
  width: 100%;
  font-family: $font;
  font-size: 16px;
  line-height: (20/16);
  -webkit-appearance: none;
  border: 1px solid #000;
  padding: 18px 16px 16px;
  border-radius: 0;
  letter-spacing: 0.1em;
  background: #fff;
  overflow: visible;
  transition: all 0.3s ease;
  @include res(m) {
    padding: 18px 16px 16px;
  }

  &::placeholder {
    color: #999999;
    opacity: 1;
    transition: all 0.3s ease;
  }

  &:focus {
    border-color: #000;
    background: $gray-light;
    outline: none;
  }
  &:hover {
    border-color: #000;
    background: $gray-light;
  }
  &:active {
    border-color: #000;
    background: $gray-light;
  }

  &.error {
    color: $red;
    border-color: $red;
  }
  &[disabled] {
    pointer-events: none;
    border-color: $gray-deep;
    background: $gray-light;
  }
}

.input-textarea {
  min-height: 150px;
}

.input-placeholder {
  position: absolute;
  top: 21px;
  left: 16px;
  display: block;
  font-size: 12px;
  line-height: (16/12);
  letter-spacing: 0.1em;
  color: $gray-deep;
  pointer-events: none;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s ease;
}

.input-error-info {
  position: absolute;
  left: 16px;
  bottom: -21px;
  color: $red;
  font-size: 14px;
  line-height: (18/14);
  opacity: 0;
  transition: all 0.3s ease;
  @include res(m) {
    
  }
}

.input-label {
  position: relative;
  margin-bottom: 22px;
  &.active {
    .input-text {
      border-color: #000;
      background: $gray-light;
    }
    .input-placeholder {
      top: 6px;
      font-size: 10px;
      line-height: (12/10);
    }
  }
  &.error {
    .input-text {
      color: $red;
      border-color: $red;
    }
    .input-error-info {
      opacity: 1;
    }
  }
}

.select2-js {
  width: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

.select2-container {
  outline: none;
  * {
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
  }
  &--avgvst-currency {
    //left: 16px;
    .select2-dropdown {
      border: none;
      background: rgba(0, 0, 0, 0);
    }
    .select2-results__options {
      width: calc(100% - 16px);
      margin: 0 8px;
      border: 1px solid #000;
      .select2-results__option {
        transition: all 0.3s ease;
        &:hover {
          background: $yellow;
        }
        &[aria-selected="true"] {
          background: $yellow;
        }
      }
    }
    .select2-selection--single {
      height: auto;
      .select2-selection__rendered {
        display: flex;
        align-items: center;
        padding: 20px 8px;
        border-bottom: none;
        background: #fff;
        @include res(m) {
          padding: 8px 8px;
        }
        img {
          display: block;
          flex-shrink: 0;
        }
        span {
          font-size: 12px;
          line-height: (16/12);
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
    }
    .select2-results__option,
    .select2-selection__rendered {
      display: flex;
      align-items: center;
      padding: 20px 8px;
      border-bottom: 1px solid $gray-light;
      background: #fff;
      &:last-child {
        border-bottom: none;
      }

      img {
        display: block;
        flex-shrink: 0;
        margin-right: 8px;
      }
      span {
        font-size: 12px;
        line-height: (16/12);
        letter-spacing: 0.1em;
        text-transform: uppercase;
        &.title {
          color: #000;
        }
        &.descr {
          padding-left: 4px;
          color: $gray-deep;
        }
      }
    }
    &.select2-container--open {
    }
  }
}

//style-checkbox
.style-checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 12px;

  input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    &:checked + span {
      &:after {
        opacity: 1;
      }
    }

    &.error + span {
      &:before {
        border-color: #cc0000;
      }
    }
  }

  span {
    position: relative;
    display: block;
    padding-left: 30px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #353434;
      transition: all 0.3s ease;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background: #353434;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 2;
    }

    a {
      color: #353434;
    }
  }
}
//style-checkbox

.subscr-mini {
  display: flex; 
  align-items: flex-start;
  .input-label {
    width: 100%;
  }
  .input-error-info {
    @include res(m) {
      left: 0;
    }
  }
  .btn {
    margin-left: 8px;
  }
  
}