.i-back-link {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: translate3d(0, -1px, 0) rotate(135deg);
}

.i-forward-link {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: translate3d(0, -1px, 0) rotate(-45deg);
}

.icon-16 {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 5px;
  border: 1px solid #000;
  border-radius: 50%;
  transition: all 0.3s ease;
  &:hover {
    background: #000;
  }
}

.icon-info {
  &:hover {
    svg {
      path {
        fill: #fff;
      }
    }
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    path {
      fill: #000;
      transition: all 0.3s ease;
    }
  }
}

.icon-done {
  &:hover {
    background: inherit;
  }
  &:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 5px;
    width: 4px;
    height: 8px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(35deg) skew(0deg, 10deg);
  }
}

.icon-open-popup {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  &:before, &:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
  }
  &:before {
    top: 2px;
    left: 4px;
  }
  &:after {
    top: 4px;
    left: 2px;
    border-top: 1px solid rgba(0,0,0,0);
    border-right: 1px solid rgba(0,0,0,0);
  }
}