body {
  &.lock {
    @include res(l) {
      //position: fixed;
      //left: 0;
      //right: 0;
      height: 100%;
      //overflow: hidden;
    }
  }
}

.modal {
  display: none;
  width: 100%;
  max-width: 480px;
  will-change: transform, opacity;
  overflow: visible !important;
}

.modal-mobile {
  @include res(l) {
    display: none;
    width: 100%;
    max-width: 480px;
    min-height: 100%;
    padding: 64px 16px 16px;
    will-change: transform, opacity;
    overflow-y: auto;
  }
  .modal-close {
    display: none;
  }
  &.opened {
    .modal-close {
      display: block;
    }
  }
}

.fancybox-slide--current {
  .modal {
  }
}

.fancybox-is-closing {
  .modal {
  }
}

.fancybox-bg {
  background: #8c8e9a;
}

.fancybox-close-small,
.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--video .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small,
.fancybox-slide--html .fancybox-close-small,
.modal-close {
  @include cross();
  opacity: 1;
}

.fancybox-slide--video,
.fancybox-slide--iframe {
  padding: 24px 20px;
  @include res(s) {
    padding: 20px 12px;
  }
}

.fancybox-slide--html {
  padding: 24px 20px;
  @include res(l) {
    padding: 0;
  }
  .modal {
    padding: 64px 48px 16px;
    @include res(l) {
      min-height: 100%;
      padding: 64px 16px 16px;
    }
  }
  .modal-mobile {
    @include res(l) {
      min-height: 100%;
      padding: 64px 16px 16px;
    }
  }
}

.fancybox-content {
  overflow: visible !important;
}

.modal-subscribe-mailchimp {
}

.modal-subscribe-mailchimp__head {
  margin-bottom: 40px;
  img {
    display: block;
    margin: 16px auto 24px;
  }
  .descr {
    font-size: 14px;
    line-height: (18/14);
  }
}

.modal-subscribe-mailchimp__form {
  margin-bottom: 40px;
}

.modal-subscribe-mailchimp__soc {
  position: relative;
  margin: 0 -48px;
  padding: 24px 48px 0;
  border-top: 1px solid #000;
  text-align: center;
  @include res(m) {
    margin: 0 -16px;
    padding: 24px 16px 0;
  }
  p {
    padding-bottom: 16px;
    font-size: 12px;
    line-height: (16/12);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.modal-stnd-info {
  padding-top: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
  &:last-child {
    border-bottom: none;
  }
}

.modal-stnd-info__title {
  display: block;
  padding-bottom: 24px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.modal-stnd-info__img {
  padding-bottom: 16px;
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.modal-stnd-info__descr {
  display: block;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
}

.modal-stnd-info__link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #000;
  transition: all 0.3s ease;
  &:hover {
    border-color: rgba(0, 0, 0, 0);
  }
}

.modal-available-store {
  padding-top: 40px;
  padding-bottom: 32px;
  ul {
    padding-bottom: 40px;
  }
  li {
    border-bottom: 1px solid #000;
    &:first-child {
      border-top: 1px solid #000;
    }
  }
  .address {
    display: block;
    padding: 16px 8px;
    transition: all 0.3s ease;
    &:hover {
      background: $yellow;
    }
    span {
      display: block;
      padding-bottom: 2px;
      color: $gray-deep;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .all {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #000;
    transition: all 0.3s ease;
    &:hover {
      border-color: rgba(0, 0, 0, 0);
    }
  }
}
