body {
  &.lock {
    @include res(l) {
      //position: fixed;
      //left: 0;
      //right: 0;
      height: 100%;
      //overflow: hidden;
    }
  }
}

.modal {
  display: none;
  width: 100%;
  max-width: 480px;
  will-change: transform, opacity;
  overflow: visible !important;
}

.modal-mobile {
  @include res(l) {
    display: none;
    width: 100%;
    max-width: 480px;
    min-height: 100%;
    padding: 64px 16px 16px;
    will-change: transform, opacity;
    overflow-y: auto;
  }
  .modal-close {
    display: none;
  }
  &.opened {
    .modal-close {
      display: block;
    }
  }
}

.fancybox-slide--current {
  .modal {
  }
}

.fancybox-is-closing {
  .modal {
  }
}

.fancybox-bg {
  background: rgba(129, 129, 129, 0.8);
}

.fancybox-close-small,
.fancybox-slide--image .fancybox-close-small,
.fancybox-slide--video .fancybox-close-small,
.fancybox-slide--iframe .fancybox-close-small,
.fancybox-slide--html .fancybox-close-small,
.modal-close {
  @include cross();
  opacity: 1;
}

.fancybox-slide--video,
.fancybox-slide--iframe {
  padding: 24px 20px;
  @include res(s) {
    padding: 20px 12px;
  }
}

.fancybox-slide--html {
  padding: 24px 20px;
  @include res(l) {
    padding: 0;
  }
  .modal {
    padding: 64px 48px 16px;
    @include res(l) {
      min-height: 100%;
      padding: 64px 16px 16px;
    }
  }
  .modal-mobile {
    @include res(l) {
      min-height: 100%;
      padding: 64px 16px 16px;
    }
  }
}

.fancybox-content {
  overflow: visible !important;
}

.modal-subscribe-mailchimp {
}

.modal-subscribe-mailchimp__head {
  margin-bottom: 40px;
  img {
    display: block;
    margin: 16px auto 24px;
  }
  .descr {
    font-size: 14px;
    line-height: (18/14);
  }
}

.modal-subscribe-mailchimp__form {
  margin-bottom: 40px;
}

.modal-subscribe-mailchimp__soc {
  position: relative;
  margin: 0 -48px;
  padding: 24px 48px 0;
  border-top: 1px solid #000;
  text-align: center;
  @include res(m) {
    margin: 0 -16px;
    padding: 24px 16px 0;
  }
  p {
    padding-bottom: 16px;
    font-size: 12px;
    line-height: (16/12);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.modal-stnd-info {
  padding-top: 40px;
  padding-bottom: 24px;
  border-bottom: 1px solid #000;
  @include res(m) {
    margin: 0 -16px;
    padding-left: 16px;
    padding-right: 16px;
  }
  &:last-child {
    border-bottom: none;
  }
  &--no-bord {
    border-bottom: none;
    padding-bottom: 0;
    &:last-child {
      padding-bottom: 24px;
      .modal-stnd-info__descr {
        padding-bottom: 16px;
      }
    }
    .modal-stnd-info__descr {
      &:last-child {
        padding-bottom: 0;
      }
      ul {
        &:last-child {
          li {
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
  &--center {
    text-align: center;
  }
  &--form {
    .modal-stnd-info__title {
      padding-bottom: 14px;
    }
    .input-label {
      & + .modal-stnd-info__title {
        padding-top: 16px;
      }
    }
  }
}

.modal-stnd-info__title {
  display: block;
  padding-bottom: 24px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &--center {
    text-align: center;
  }
}

.modal-stnd-info__img {
  padding-bottom: 16px;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  & + .modal-stnd-info__title {
    padding-bottom: 8px;
  }
}

.modal-stnd-info__descr {
  display: block;
  padding-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  li {
    position: relative;
    padding-left: 18px;
    padding-bottom: 12px;
    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: #000;
    }
  }
  & + .modal-stnd-info__soc {
    margin-top: 24px;
  }
}

.modal-stnd-info__link {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid #000;
  transition: all 0.3s ease;
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: rgba(0, 0, 0, 0);
    }
  }
}

.modal-stnd-info__table {
  margin-bottom: 16px;
  text-align: center;
  border-collapse: collapse;
  thead {
    border-bottom: 1px solid #000;
  }
  tbody {
    tr {
      border-bottom: 1px solid $gray;
    }
  }
  th {
    padding: 0 7px 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    @include res(m) {
      padding: 0 4px 16px;
    }
  }
  td {
    padding: 12px 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    @include res(m) {
      padding: 12px 4px;
    }
  }
}

.modal-stnd-info__video {
  text-align: center;
  a[data-fancybox] {
    position: relative;
    display: inline-block;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 56px;
      height: 56px;
      background: url("../images/icons/play-video.svg") no-repeat center;
      pointer-events: none;
      transition: all 0.3s ease;
      transform: translate3d(-50%, -50%, 0);
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        &:after {
          transform: translate3d(-50%, -50%, 0) scale(1.1);
        }
      }
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.modal-stnd-info__other {
  margin-bottom: 16px;
  border-bottom: 1px solid #000;
  @include res(m) {
    margin: 0 -16px 16px;
  }
  &--last {
    border-bottom: none;
  }
  a {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    border-top: 1px solid #000;
    @include res(m) {
      padding: 20px 16px;
    }
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        span {
          border-bottom-color: rgba(0, 0, 0, 1);
        }
      }
    }
    span {
      border-top: 1px solid rgba(0, 0, 0, 0);
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      transition: all 0.3s ease;
    }
    .icon-open-popup {
      margin-left: 8px;
    }
  }
}

.modal-stnd-info__soc {
  position: relative;
  padding: 24px 48px 0;
  border-top: 1px solid #000;
  text-align: center;
  @include res(m) {
    margin: 0 -16px;
    padding: 24px 16px 0;
  }
  .soc-block {
    margin-bottom: 0;
  }
  p {
    padding-bottom: 16px;
    font-size: 12px;
    line-height: (16/12);
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.modal-stnd-info__consultant {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  line-height: 20px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  .soc-block {
    min-width: 90px;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-left: 10px;
    a {
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
    img {
      max-width: 20px;
    }
  }
}

.modal-tabs {
}

.modal-tabs__head {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  span {
    position: relative;
    display: block;
    width: 50%;
    padding: 13px 10px 17px;
    background: #fff;
    transition: all 0.3s ease;
    &:hover {
      background: $gray-light;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      border: 1px solid $gray;
    }
    &.active {
      color: #fff;
      background: #000;
      &:before {
        opacity: 0;
      }
    }
  }
}

.modal-tabs__body {
  position: relative;
  background: #fff;
  .modal-tabs__body-item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

    &.active {
      position: relative;
      opacity: 1;
      pointer-events: all;
    }
  }
}

.modal-accordion-list {
  padding-top: 40px;
  @include res(m) {
    margin: 0 -16px 16px;
  }
}

.modal-accordion-list__item {
  border-top: 1px solid #000;
  &:last-child {
    border-bottom: 1px solid #000;
  }
  &.open {
    .icon-plus {
      &:after {
        opacity: 0;
      }
    }
  }
}

.modal-accordion-list__item-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  cursor: pointer;
  @include res(m) {
    padding: 20px 16px;
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      .icon-plus {
        background: #000;
        &:before,
        &:after {
          background: #fff;
        }
      }
    }
  }
  span {
    display: block;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.modal-accordion-list__item-info {
  @include res(m) {
    padding: 0 16px;
  }
  .modal-stnd-info {
    &:first-child {
      padding-top: 4px;
    }
    &:last-child {
      //padding-bottom: 0;
    }
  }
}

.modal-available-store {
  padding-top: 40px;
  padding-bottom: 32px;
  ul {
    padding-bottom: 40px;
  }
  li {
    border-bottom: 1px solid #000;
    &:first-child {
      border-top: 1px solid #000;
    }
  }
  .address {
    display: block;
    padding: 16px 8px;
    transition: all 0.3s ease;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background: $yellow;
      }
    }
    span {
      display: block;
      padding-bottom: 2px;
      color: $gray-deep;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .all {
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px solid #000;
    transition: all 0.3s ease;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        border-color: rgba(0, 0, 0, 0);
      }
    }
  }
}
