.catalog-filter-sec {
  padding: 16px 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  @include res(l) {
    padding: 8px 0 16px;
  }
}

.catalog-filter {
  &.filtered {
    .catalog-filter__reset {
      opacity: 1;
      pointer-events: all;
      @include res(l) {
        display: block;
      }
    }
    .catalog-filter__positions {
      @include res(l) {
        display: none;
      }
      .finded {
        opacity: 1;
      }
    }
    .catalog-filter__popup-reset {
      display: block;
    }
    .catalog-filter__item {
      &[data-mobile-filter-opener] {
        .catalog-filter__item-title {
          i {
            border-color: $yellow;
            background: $yellow;
            &:before {
              opacity: 0;
            }
            span {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.catalog-filter__form {
  display: flex;
}

.catalog-filter__popup {
  display: flex;
  @include res(l) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    flex-direction: column;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    background: #fff;
    z-index: 10;
  }
  &.opened {
    opacity: 1;
    pointer-events: all;
  }
  .input-label {
    @include res(l) {
      width: 100%;
      padding: 17px 16px;
      border: none;
    }
  }
  .catalog-filter__item {
    @include res(l) {
      margin-right: 0;
      margin-bottom: -1px;
      margin-left: -16px;
      margin-right: -16px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      .counter {
        display: none;
      }

      &.filtered {
        .catalog-filter__item-title {
          i {
            border-color: #000;
            background: #fff;
            &:before {
              opacity: 1;
            }
          }
        }
      }

      &.opened {
        .input-label {
          .catalog-filter__item-title {
            i {
              background: #fff;
              &:before {
                top: 50%;
                background: #fff;
                transform: translate3d(-50%, -50%, 0) rotate(-90deg);
              }
              &:after {
                transform: translate3d(-50%, -50%, 0) rotate(-90deg);
              }
            }
          }
        }
      }
    }
    &--single {
      border: none;
    }
  }
  .catalog-filter__item-title {
    @include res(l) {
      padding-left: 16px;
      padding-right: 35px;
      i {
        top: 50%;
        right: 16px;
        transform: translate3d(0, -50%, 0);
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 9px;
          height: 1px;
          border: none;
          background: #000;
          transition: all 0.3s ease;
          transform: translate3d(-50%, -50%, 0);
        }
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 1px;
          height: 9px;
          border: none;
          background: #000;
          transition: all 0.3s ease;
          transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }
      }
    }
  }
  .catalog-filter__checkbox-list-wrap {
    @include res(l) {
      position: relative;
      top: initial;
      left: initial;
      width: 100%;
      height: 0px;
      padding: 0 16px;
      border: none;
      border-bottom: none;
      box-shadow: none;
      overflow: hidden;
      transition: height 0.3s ease;
      &.opened {
        height: auto;
        padding: 0px 16px 22px;
      }
    }
    .btn-wrap {
      @include res(l) {
        display: none;
      }
    }
  }
  .catalog-filter__checkbox-list {
    margin-bottom: 16px;
  }
  .btn-wrap {
    @include res(l) {
      margin-top: auto;
      padding-top: 32px;
    }
  }
}

.catalog-filter__popup-title {
  display: none;
  text-align: center;
  @include res(l) {
    display: block;
    margin-bottom: 30px;
  }
}

.catalog-filter__popup-reset {
  display: none;
  margin: -10px auto 0;
  padding: 10px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #000;
  border: none;
  background: none;
}

.catalog-filter__popup-btn {
  display: none;
  @include res(l) {
    display: block;
  }
}

.catalog-filter__item {
  position: relative;
  margin-right: 20px;
  text-transform: uppercase;
  user-select: none;
  &.filtered {
    .input-label {
      @media(hover: hover) and (pointer: fine) {
        &:hover {
          .catalog-filter__item-title {
            i {
              background: $yellow;
              &:before {
                border-right-color: #000;
                border-bottom-color: #000;
              }
            }
          }
        }
      }
      
    }
    .catalog-filter__item-title {
      i {
        border-color: $yellow;
        background: $yellow;
        &:before {
          opacity: 0;
        }
        span {
          opacity: 1;
        }
      }
    }
    &.opened {
      .input-label {
        @media(hover: hover) and (pointer: fine) {
          &:hover {
            .catalog-filter__item-title {
              i {
                background: #000;
                &:before {
                  border-right-color: #000;
                  border-bottom-color: #000;
                }
              }
            }
          }
        }
        
      }
      .catalog-filter__item-title {
        i {
          border-color: #000;
          background: #000;
          &:before {
            top: calc(50% + 2px);
            opacity: 1;
            border: 1px solid #fff;
            border-right-color: rgba(0, 0, 0, 0);
            border-bottom-color: rgba(0, 0, 0, 0);
          }
        }
      }
    }
  }
  &.opened {
    .input-label {
      @media(hover: hover) and (pointer: fine) {
        &:hover {
          .catalog-filter__item-title {
            i {
              &:before {
                border-right-color: #000;
                border-bottom-color: #000;
              }
            }
          }
        }
      }
    }
    .catalog-filter__item-title {
      i {
        background: #000;
        &:before {
          top: calc(50% + 2px);
          border: 1px solid #fff;
          border-right-color: rgba(0, 0, 0, 0);
          border-bottom-color: rgba(0, 0, 0, 0);
        }
      }
    }
  }
  .input-label {
    display: inline-block;
    margin-bottom: 0;
    @media(hover: hover) and (pointer: fine) {
      &:hover {
        .catalog-filter__item-title {
          i {
            background: #000;
            &:before {
              border-right-color: #fff;
              border-bottom-color: #fff;
            }
          }
          @include res(l) {
            i {
              background: inherit;
              &:before {
                border-right-color: inherit;
                border-bottom-color: inherit;
              }
            }
          }
        }
      }
    }
    
  }
  [data-checkbox-list-link] {
    padding: 17px 0;
  }
  & > .style-checkbox {
    margin-left: 20px;
    margin-bottom: 0;
    padding: 16px 0;
    @include res(l) {
      margin-left: 16px;
    }
    span {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
  &--last {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
    @include res(l) {
      padding-top: 7px;
    }
  }
  &[data-mobile-filter-opener] {
    display: none;
    @include res(l) {
      display: block;
    }
    .input-label {
      padding: 18px 8px 10px;
      padding-right: 0;
    }
  }
}

.catalog-filter__item-title {
  position: relative;
  display: block;
  padding-right: 26px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  i {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    pointer-events: none;
    transform: translate3d(0, -50%, 0);
    transition: background 0.3s ease;
    &:before {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 50%;
      width: 7px;
      height: 7px;
      border: 1px solid rgba(0, 0, 0, 0);
      border-right: 1px solid #000000;
      border-bottom: 1px solid #000000;
      transition: all 0.15s ease;
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
    span {
      display: block;
      width: 100%;
      font-size: 11px;
      line-height: 20px;
      font-style: normal;
      letter-spacing: 0.1em;
      text-align: center;
      opacity: 0;
    }
  }
  .title {
  }
  .choice {
    display: none;
    @include res(l) {
      display: inline;
      color: $gray-deep;
    }
  }
}

.catalog-filter__checkbox-list-wrap {
  position: absolute;
  top: 43px;
  left: 0;
  width: 320px;
  padding: 14px 16px 24px;
  border: 1px solid #000;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  background: #fff;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  &.opened {
    pointer-events: all;
    opacity: 1;
  }
  .btn {
    margin-bottom: 0;
  }
  &--grid {
    width: 370px;
    .catalog-filter__checkbox-list {
      display: flex;
      flex-wrap: wrap;
      max-height: initial;
      padding-bottom: 1px;
      .style-checkbox {
        width: calc(100% / 5);
        padding: 14px 5px;
        margin-bottom: -1px;
        &:last-child {
          margin-bottom: -1px;
        }
      }
    }
  }
}

.catalog-filter__checkbox-info {
  display: inline-flex;
  align-items: center;
  margin-top: -8px;
  margin-bottom: 8px;
  padding: 8px 0;
  font-size: 14px;
  line-height: 12px;
  text-transform: none;
  span {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
  }
  .icon-info {
    pointer-events: none;
    margin-bottom: -1px;
  }
  @media(hover: hover) and (pointer: fine) {
    &:hover {
      span {
        border-color: rgba(0, 0, 0, 0);
      }
      .icon-info {
        background: #000;
        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
  
}

.catalog-filter__checkbox-list {
  max-height: 216px;
  margin-bottom: 14px;
  overflow: auto;
  .style-checkbox {
    margin-bottom: 0;
    padding: 10px 0;
    &:last-child {
      margin-bottom: 0;
    }
    span {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
  .simplebar-track.simplebar-vertical {
    width: 2px;
    background: $gray;
    .simplebar-scrollbar {
      &:before {
        top: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        opacity: 1;
        background: #000;
      }
    }
  }
}

.catalog-filter__reset {
  display: block;
  padding: 3px 6px;
  color: #000;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border: none;
  background: $yellow;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  transition: all 0.3s ease;
  @media(hover: hover) and (pointer: fine) {
    &:hover {
      color: #fff;
      background: #000;
    }
  }
  
  @include res(l) {
    display: none;
  }
  span {
    @include res(l) {
      display: none;
    }
  }
}

.catalog-filter__positions {
  position: relative;
  display: block;
  margin-left: 20px;
  padding: 3px 0;
  color: $gray-deep;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  .finded {
    opacity: 0;
    transition: all 0.3s ease;
    @include res(l) {
      opacity: 1;
    }
    &:after {
      content: "/";
    }
  }
  .products {
    @include res(l) {
      display: none;
    }
  }
}
