.footer-page-wrap {
  padding-top: 95px;
  padding-bottom: 24px;
  border-top: 1px solid #000;
  background: #fff;
  @include res(m) {
    padding-top: 55px;
  }
}
.footer-page {
}

.footer-page__middle {
  display: flex;
  padding-bottom: 72px;
  @include res(m) {
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
}

.footer-page__nav {
  display: flex;
  width: 35%;
  font-size: 12px;
  line-height: (16/12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @include res(m) {
    width: 50%;
    flex-wrap: wrap;
  }
  a {
    display: block;
    padding: 8px 0;
    &:hover {
      span {
        border-color: rgba(0, 0, 0, 1);
      }
    }
  }
  span {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
  }
}

.footer-page__nav-col {
  width: 50%;
  padding-right: 16px;
  @include res(m) {
    width: 100%;
    padding-bottom: 16px;
  }
  &:last-child {
    @include res(m) {
      padding-bottom: 0;
    }
  }
}

.footer-page__contacts {
  width: 25%;
  @include res(m) {
    width: 50%;
  }
  .footer-page__soc {
    display: flex;
    @include res(m) {
      display: none;
    }
  }
}

.footer-page__soc {
  display: none;
  padding: 8px 8px 22px;
  @include res(m) {
    display: flex;
    margin: 0 -8px;
    padding-top: 24px;
  }
  a {
    display: block;
    padding: 8px;
    @include res(m) {
      margin: 0 8px;
    }
    &:hover {
      img {
        filter: brightness(1);
      }
    }
  }
  img {
    display: block;
    max-width: 16px;
    width: 100%;
    filter: brightness(0.1);
    transition: all 0.3s ease;
  }
}

.footer-page__cities {
  display: flex;
  padding-left: 8px;
  font-size: 12px;
  line-height: (16/12);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @include res(m) {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  &:hover {
    span {
      border-color: rgba(0, 0, 0, 1);
    }
  }
  img {
    display: block;
    flex-shrink: 0;
    margin-right: 8px;
  }
  span {
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
  }
}

.footer-page__currency {
  max-width: 200px;
}

.footer-page__subsr {
  width: 40%;
  max-width: 450px;
  margin-left: auto;
  @include res(m) {
    width: 100%;
    padding-top: 10px;
  }
  &>p {
    padding-bottom: 8px;
    font-size: 16px;
    line-height: (20/16);
    @include res(m) {
      padding-bottom: 16px;
      font-size: 12px;
      line-height: (16/12);
      text-transform: uppercase;
      letter-spacing: 0.1em;
    }
  }
  &>span {
    display: block;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: (18/14);
    @include res(m) {
      display: none;
    }
  }
  form {

  }
}



.footer-page__bottom {
  font-size: 14px;
  line-height: (18/14);
  @include res(m) {
    font-size: 12px;
    line-height: 1.6;
  }
  a {
    white-space: nowrap;
    &:hover {
      span {
        border-color: rgba(0, 0, 0, 0);
      }
    }
    span {
      border-bottom: 1px solid #000;
      transition: all 0.3s ease;
    }
  }
  .separator {
    padding: 0 12px;
    @include res(m) {
      padding: 0 2px;
    }
  }
  .name {
    padding-right: 8px;
  }
}
