.catalog-product-list {
  &+.catalog-pagination, &+.catalog-more {
    margin-top: -1px;
  }
  &--author {
    .product-list {
      border-top: 1px solid #000;
    }
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  border-left: 1px solid #000;
}